
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title> iCats | Home </title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

</head>

<body>

        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">

				<div class="row">
				<% @items.sort_by(&:id).each_with_index do |item, i| %>
                <!-- Single Catagory -->
	                <div class="single-products-catagory clearfix", style='height:250pt;'>
	                    <a href="<%= item_path(item.id) %>">
	                    	<span class="grayscale" >
                                <% if item.picture.attached? %>
                                    <%= image_tag item.picture %>
                                <% else %>
                                    <img src="/assets/<%= item.id %>.jpg", alt""/>
                                <% end %>	                    	
                            </span>
	                        <!-- Hover Content -->
	                        <div class="hover-content">
	                            <div class="line"></div>
	                            <p>From $<%= item.price.round(1) %></p>
	                            <h4><%= item.title %></h4>
                                <% if current_user %>
                                    <%= link_to ('<i class="fa fa-cart-arrow-down", style="font-size: 3em; color: #fbb710"></i>').html_safe, {:controller => "cart_contents", :action => "create", :item_id => item.id}, method: :post %>
                                <% end %>
	                        </div>
	                    </a>
	                </div>
	            <% end %>

            	</div>
            </div>
        </div>
        <!-- Product Catagories Area End -->

    </div>




</body>

</html>