<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>iCats - Product Details</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>

        <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <% if @item.picture.attached? %>
                                    <%= image_tag @item.picture %>
                                <% else %>
                                    <img src="/assets/<%= @item.id %>.jpg", alt""/>
                                <% end %>
                            </div>
                            <% if current_user %>
                                <% if current_user.is_admin = true %>
                                    <h3>Update picture ?</h3>
                                    <%= form_tag item_pictures_path(@item), multipart: true do %>
                                      <%= file_field_tag :picture %>
                                      <%= submit_tag "Update" %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price"><%= @item.price  %>€</p>
                                <a href="product-details.html">
                                    <h6><%= @item.title %></h6>
                                </a>
                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <!-- Avaiable -->
                                <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                            </div>

                            <div class="short_overview my-5">
                                <p><%= @item.description  %></p>
                            </div>

                            <!-- Add to Cart Form -->
                            <form class="cart clearfix" method="post">
                                <% if current_user %>
                                    <% if current_user.is_admin = true %>
                                        <div class="cart-btn d-flex mb-50">
                                            <%= link_to "Edit item", {:controller => "items", :action => "edit",}, method: :get, class:"btn amado-btn" %>
                                        </div>
                                    <% end %>
                                <% end %>
                                <%= link_to "Add to cart", {:controller => "cart_contents", :action => "create", :item_id => @item.id}, method: :post, class:"btn amado-btn" %>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->
   </div>

</body>

</html>